
:root {
	--white: #fff;
	--primary: #6d31ee;
	--primary-shade: #4f28a5;
	--primary-light: #aa9dfa;
	--light-color: #e6e8ec;
	--text-gray: #a1a6b4;
	--shade-gray: #d2d5dd;
	--light-color-40: rgba(230, 232, 236, 0.4);
	--black: #121723;
	--light-black: #292e39;
	--red: #ff6f6f;
	--promo-color: #f0d288;
	--promo-color-shade: #bb973e;


}
