@import url(./font.css);

.prosto_txt{
font-family:Arial, Helvetica, sans-serif;
width: 700px;
font-size: 22px;
line-height: 130%;
} 

.txt_roboto{
font-family: 'Roboto', sans-serif;

width: 700px;
font-size: 22px;
line-height: 130%;
}
.txt_roboto h1 {
font-family: 'Roboto', sans-serif;
}

.TT_PollsSL{
font-family:'TT Polls Script';
width: 700px;
font-size: 22px;
line-height: 130%;
} 

#inputId{
width: 150px;
height: 30px;
font-family:'TT Polls Script';
font-weight: 800;
font-size: 22px;
}